
.hero {
    text-align: center;
    position: relative;
  }
  
  .float-text {
    position: absolute;
    min-width: 80%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    text-align: center;
    font-size: 2em; 
    z-index: 1;
  }
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 16px;
    margin-bottom: 3%;
  }