h2 {
  color: #1f4e3c;
  font-size: 2.5rem;
  font-weight: bolder;
}

.about h4 {
  color: #1f4e3c;
  font-size: 1.3rem;
  font-weight: bold;
}

.p {
  font-size: 1rem;
  padding: 3%;
  color: #555;
}

.about img {
  width: 250px;
  height: 250px;
  background-size: cover;
}

.step img{
  filter: brightness(50%);
}

.step-info {
  background-color: transparent !important;
}
.prototype img {
  width: 90%;
  border: 2px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
}
