/* Navigation Bar */
header {
    background-color: #fff;
    border-bottom: 2px solid #ddd;
    padding: 10px 20px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav .logo {
    font-size: 24px;
    font-weight: bold;
    color: #3a2e2d; /* Coffee color */
  }
  
  .logo img {
    width: 20px;
  }
  
  nav {
    display: flex;
    list-style: none;
  }
  
  nav li {
    margin-left: 20px;
  }
  
  nav li a {
    right: 20px;
    text-decoration: none;
    color: #023F3A;
    font-weight: bold;
  }
  
  nav li .contact-btn {
    background-color: #C13512;
    color: #fff;
    padding: 8px 12px;
    transition: 0.3s ease;
  }
  
  nav li .contact-btn:hover {
    background-color: transparent;
    color: #3a2e2d;
    border: 2px solid #C13512;
  }