html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.logo img {
  cursor: pointer;
  height: 50px; 
}
.nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 2%;
  justify-content: space-between;
}

.nav-item {
  display: inline-block;
  padding: 0px 15px;
}

.nav-link {
  background: none;
  border: none;
  text-decoration: none;
  color: #023F3A !important;
  font-weight: bold;
}

.nav-link:hover {
  color: #C13512 !important;
}
nav .contact-btn {
  padding: 10px 20px ;
  background-color: #C13512;
  color: #fff !important;
}
nav .contact-btn:hover {
  background-color: transparent;
  border: 2px solid #C13512;
  color: #023F3A !important; 

}
.hero{
  text-align: center;
   position: relative;
}
.hero svg {
   width: 100%;
}

/* Floating text style */
.float-text {
   position: absolute;
   min-width: 90%;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white; 
   text-align: center;
   z-index: 1;
}
h1 {
   font-size: 2rem;
   padding-bottom: 3%;
}
p {
   font-size: 0.85rem;
   margin-bottom: 3%;
   margin: auto;
}
.buttons {
   padding: 2%;
}

.buttons .btn {
   margin: 10px;
   text-decoration: none;
   padding: 10px 20px; 
   font-size: 1rem;
   font-weight: bold;
   border: 2px solid white;
   color: white;
   transition: all 0.3s ease;
}

.hero .btn:hover {
   background-color: white;
   color: #023F3A;
}

@media screen and (max-width:600px){
   .svg-lg {
       display: none;
   }
   .svg-sm {
       display: block;
   }
   .float-text {
       margin-top: 5%;
   }
   .hero h1 {
       font-size:1.5rem;
   }
   .hero p {
       font-size: 0.6rem;
   }
   .hero .buttons {
       padding: 0;
   }
   .hero .btn {
       font-size: 0.8rem;
   }
   
}
@media screen and (min-width:600px){
   .svg-lg {
       display: block;
   }
   .svg-sm {
       padding-top: 50px;
       display: none;
   }
}
