.uni {
    position: relative;
    margin-top: -8%; 
    z-index: 0;
}
svg {
    display: block; 
    width: 100%;
}
.uni-info {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1; 
    display: flex;
    align-items: center;
}
.uni-info h2 {
    color: #023F3A;
    font-size: 2rem;
    font-weight: bolder;
    margin-left: 10%;
}
.uni-info img {
    width: 10%;
    height: auto;
}
@media screen and (max-width: 600px) {
    .uni-info h2 {
        font-size: 1.2rem;
    }
    .uni-info img{
        width: 15%;
    }
}
.team {
    text-align: center;
    padding: 40px 0;
    /* padding: 40px 20px; */
}
h3 {
    margin: 2% auto 0 10px;
    font-size: 26px;
    color: #023F3A;
}
.line-break {
    width: 55%;
    height: 2px;
    background-color: #023F3A;
    margin: 10px auto;
}
.team-description {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 10%;
}
.team-description p{
    font-size: 18px;
    color: #023F3A;
    margin: 0;
    max-width: 400px;
}
.learn-more-btn {
    background-color: #023F3A;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    justify-self: center;
    margin-top: 3%;
}

.team-member {
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
}

.team-member:hover {
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0), 0 4px 0 0 #C13512; 
}

.member-image {
    width: 4rem;
    height: 4rem;
    background-color: #023F3A;
    border-radius: 50%;
    margin: 0 auto 10px;
}

.team-member h4 {
    font-size: 18px;
    margin: 10px 0 5px;
    color: #023F3A;
}

.team-member p {
    font-size: 14px;
    color: #023F3A;
}
